@import 'material-icons/iconfont/material-icons.css';
@import "normalize.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes fadeIn {
  from { opacity: 0.1; }
  to   { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0.1; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.underline-anim {
  position: relative;
}

.underline-anim::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: white;
  bottom: 0;
  left: 0;
  transition: width .3s ease;
}

.underline-anim:hover::after {
  width: 100%;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.videoSafariFadeIn {
  -webkit-animation: fadeIn 3s ease-in-out forwards;
}

.videoChromeFadeIn {
  -webkit-animation: fadeIn 1s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes custom-bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

.animate-custom-bounce {
  animation: custom-bounce 1s infinite;
}
