<div class="flex justify-between p-10 fixed w-[100vw] z-50">
  <div class="hover:cursor-pointer">
    <a href="http://localhost:4200/">
      <img src="assets/images/logo/finn_logo.png" [ngClass]="{fadeIn:true}" class="w-[11rem] border-[1px] border-black hover:cursor-pointer select-none" alt="finn_breuer_logo">
    </a>
  </div>

  <div *ngIf="!isBurgerOpen">
    <div [ngClass]="{fadeIn:!isBurgerOpen , fadeOut:isBurgerOpen}" class="flex justify-center items-center bg-black bg-opacity-60 rounded-full p-2 hover:cursor-pointer hover:-scale-110 select-none" (click)="openBurger()">
      <span class="material-icons text-[2rem] text-white select-none">menu</span>
    </div>
  </div>

  <div *ngIf="isBurgerOpen">
    <div [ngClass]="{fadeIn:isBurgerOpen , fadeOut:!isBurgerOpen}" class="flex justify-around items-center bg-black bg-opacity-60 rounded-full p-2 select-none w-72">
      <span class="text-[1.2rem] text-white select-none underline-anim">Works</span>
      <a href="http://localhost:4200/about">
        <span class="text-[1.2rem] text-white select-none underline-anim">About</span>
      </a>
      <span class="text-[1.2rem] text-white select-none underline-anim hover:cursor-pointer" (click)="contactClick()">Contacts</span>
      <span class="material-icons text-[2rem] text-white select-none hover:cursor-pointer" (click)="openBurger()" >close</span>
    </div>
  </div>
</div>
