<div *ngIf="isLoading">
  <div class='flex space-x-2 justify-center items-center bg-white h-screen'>
    <span class='sr-only'>Loading...</span>
    <div class='h-8 w-8 bg-gray-700 rounded-full animate-bounce [animation-delay:-0.3s]'></div>
    <div class='h-8 w-8 bg-gray-700 rounded-full animate-bounce [animation-delay:-0.15s]'></div>
    <div class='h-8 w-8 bg-gray-700 rounded-full animate-bounce'></div>
  </div>
</div>


<div class="z-50">
  <fb-navbar (scrollContact)="scrollToContactComponent()"></fb-navbar>
</div>

<div *ngIf="!isLoading">
<div class="flex flex-row flex-wrap justify-center items-center pt-40 w-full sm:gap-x-10" [ngClass]="{fadeIn: true}">
  <div class="w-[30%] h-[30%] min-h-[270px] min-w-[270px]">
    <img src="{{aboutProfileImageUrl}}" alt="profile_image" class="rounded-full object-cover">
  </div>

  <div class="flex flex-col flex-wrap sm:w-[45%] sm:px-0 px-10 sm:items-start items-center">
    <p class="font-bold text-[3rem] lg:text-[5rem] sm:text-left text-center">
      FINN BREUER
    </p>
    <span class="font-light text-[1.5rem] lg:text-[2rem] sm:text-left text-center">
      80 years old guy with strong love for unicorns.I work with fujifilm, z-cam, Sony and whatnot.Some other incredible description of you. DsssJdnsndjsndjsndsldn slkdnsdlsndksdnsdnsdsds
      Want to know more?
    </span>
  </div>
</div>

<div class="flex flex-col sm:pt-40 pt-10">

  <div class="flex items-center w-full justify-between px-10">
    <span (click)="previous()" class="material-icons text-[4rem] select-none hover:cursor-pointer">keyboard_arrow_left</span>
    <div class="flex sm:flex-row flex-col items-center gap-y-10 sm:w-[30%] justify-around gap-x-28 w-[60%]">
      <img [ngClass]="{fadeIn: true,}" [src]="inActionImagesUrl[currentIndex]" alt="picture" >
      <img [ngClass]="{fadeIn: true}" [src]="inActionImagesUrl[currentIndex + 1]" alt="picture" >
    </div>
    <span (click)="next()" class="material-icons text-[4rem] select-none hover:cursor-pointer">keyboard_arrow_right</span>
  </div>

  <div class="flex justify-center py-10">
    <span *ngFor="let image of inActionImagesUrl; let i=index"
          [ngClass]="{'bg-green-500': i === currentIndex, 'bg-gray-500': i !== currentIndex}"
          (click)="goToImage(i)"
          class="h-2.5 w-2.5 mx-1 rounded-full cursor-pointer"></span>
  </div>
</div>
<fb-footer #contactComponent></fb-footer>
</div>
