<hr>
<div class="flex flex-col items-center pt-10">

  <div class="flex flex-wrap sm:justify-between w-[100vw] sm:px-32 justify-center">
    <div class="flex-col flex sm:justify-normal sm:items-start items-center justify-center">
      <span class="font-bold text-[2rem]">Contacts</span>

      <div class="flex gap-x-6 ">
        <div class="flex flex-col gap-y-1 text-center sm:text-left">
          <a href="https://www.linkedin.com/in/finn-breuer-39672a252/" target="_blank" class="underline font-light hover:cursor-pointer">Linkedin</a>
          <a href="https://www.instagram.com/finn_breuer/" target="_blank" class="underline font-light hover:cursor-pointer">Instagram</a>
          <a href="https://www.facebook.com/finn.bre.5" target="_blank" class="underline font-light hover:cursor-pointer">Facebook</a>
        </div>
        <div class="flex flex-col gap-y-1 text-center sm:text-left">
          <span class="underline font-light hover:cursor-pointer">finn.breuer@gmail.com</span>
          <span class="underline font-light hover:cursor-pointer">+45 00 00 00 00</span>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center sm:pt-0 pt-6">
      <img src="assets/images/footer/globe.svg" alt="globe_icon" width="90rem" class="select-none">
      <div class="flex flex-col">
        <span class="font-light">German / English / Norwegian</span>
        <span class="font-light">Denmark, 55.6761° N, 12.5683° E</span>
      </div>
    </div>
  </div>

  <div class="sm:pt-6 sm:pb-3 pt-5 pb-3">
    <span class="font-light text-gray-400 select-none text-[0.7rem]">© {{currentYear}} / Finn Breuer</span>
  </div>

</div>
