<img src="../../../assets/images/landingPage/contacts/contacts_image.png" alt="background image" [ngClass]="contactSectionImageHeight" class="absolute w-full object-cover z-[-2] select-none">
<div  [ngClass]="contactSectionImageHeight">
  <div class="h-full flex flex-col justify-center items-center">
    <span class="text-white text-[5rem] font-bold item items-center">WANT TO KNOW MORE?</span>
    <div class="pt-4">
      <button class="select none border-[1px] border-white py-2 px-6 text-white font-light hover:cursor-pointer hover:bg-white hover:text-black hover:border-[1px] ">Ask Me</button>
    </div>
  </div>
</div>
