<div>

  <div *ngIf="isLoading">
    <div class='flex space-x-2 justify-center items-center bg-white h-screen'>
      <span class='sr-only'>Loading...</span>
      <div class='h-8 w-8 bg-gray-700 rounded-full animate-bounce [animation-delay:-0.3s]'></div>
      <div class='h-8 w-8 bg-gray-700 rounded-full animate-bounce [animation-delay:-0.15s]'></div>
      <div class='h-8 w-8 bg-gray-700 rounded-full animate-bounce'></div>
    </div>
  </div>

  <div *ngIf="!isLoading" class="select-none">

    <div *ngIf="isSafari" class="select-none">
      <img src="{{videoThumbImageUrl}}" [ngClass]="{fadeIn:true}" alt="video Thumbnail" class="absolute h-full w-full object-cover z-[-4] select-none">
      <video #landingVideo [ngClass]="{videoSafariFadeIn:true}"  [src]="landingVideoUrl" class="absolute h-full w-full object-cover z-[0] select-none" autoplay="autoplay" loop="loop" muted="muted">
        <source src="{{landingVideoUrl}} ">
      </video>
    </div>

    <div *ngIf="!isSafari">
      <video #landingVideo [ngClass]="{videoChromeFadeIn:true}"  [src]="landingVideoUrl" (canplay)="landingVideo.play()" muted="muted" loop="loop" class="absolute h-full w-full object-cover z-[-2] select-none "></video>
    </div>

    <fb-navbar (scrollContact)="scrollToContactComponent()"></fb-navbar>
    <div class="h-[100vh] flex items-end justify-center" >
      <span (click)="scrollToShowReelComponent()" [ngClass]="{'animate-custom-bounce':isBouncing}" class="hover:cursor-pointer material-icons text-white select-none text-[4rem] z-[1]">keyboard_arrow_down</span>
    </div>
    <fb-showreel-works #showreelWorksComponent [showReelImageUrl]="showReelImageUrl"></fb-showreel-works>
    <fb-clients [clientsLogoUrlArray]="clientsLogoUrlArray"></fb-clients>
    <fb-contacts [contactImageUrl]="contactImageUrl"></fb-contacts>
    <fb-footer class="z-10" #contactComponent ></fb-footer>
    </div>
</div>
