<div>
  <video #landingVideo [src]="landingVideoUrl" (canplay)="landingVideo.play()" (loadedmetadata)="landingVideo.muted = true" loop="loop" class="absolute h-full w-full object-cover z-[-2] select-none"></video>
  <fb-navbar></fb-navbar>
  <div class="h-[100vh] flex items-end justify-center ">
    <span class="material-icons text-white select-none text-[4rem]">keyboard_arrow_down</span>
  </div>
  <fb-showreel-works></fb-showreel-works>
  <fb-clients></fb-clients>
  <fb-contacts></fb-contacts>
  <fb-footer></fb-footer>
</div>
